input {
  font-size:  2em;
  display:    block;
  margin:     auto;
  margin-top: 4em;
  padding:    0.5em;
  outline:    none;
  text-align: center;
  border:     none;
}

footer a {
  position:        absolute;
  bottom:          1em;
  width:           99%;
  text-align:      center;
  text-decoration: none;
  font-family:     sans-serif;
  color:           white;
}
